
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif !important;
  background-color: #eae3c8 !important;
}

/* logo */
.logo {
  width: 3.5rem;
}

/* navbar */

nav a.nav-link {
  font-weight: 600;
  letter-spacing: 0.0375rem;
  cursor: pointer;  

}
nav ul li {
  text-transform: uppercase !important;
}

.navbar-brand {
  max-width: 17.25rem !important;
  padding: 0 !important;
}

.mywrapper {
 padding-left: 50px !important;
 padding-right: 100px !important;
}