@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

body {
 
  background-image: url("/src/assets/img/backimg.jpg") !important;
  background-repeat: repeat;
  background-color: #eae3c8;
  text-align: center !important;
  font-family: "Roboto Condensed", sans-serif !important;
  text-align: justify !important;
}



.jumboclass {
  border-radius: 20px !important;
  margin: 20px !important;
  background-color: #a1cae2 !important;
  color: white;
}

:root {
  --primary-blue: #a1cae2;
  --primary-dark: rgba(255, 255, 255, 0);
}

/* logo */
.logoname {
  width: 3.5rem;
  font-family: "Homemade Apple", cursive !important;
  font-size: 25px !important;
}
.grey-color {
  color: #868e96;
}
/* navbar */

nav a.nav-link {
  font-weight: 600;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase !important;
}

.navbar-brand {
  max-width: 17.25rem !important;
  padding: 0 !important;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid var(--primary-dark);
}

.mywrapper {
  padding-left: 50px !important;
  padding-right: 100px !important;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-blue);
}
.styleavatar {
  color:black !important;

  /* #1e90ff  */
}
img {
  margin: auto !important;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: black;
  text-align: center !important;
}
.centeredtext {
  font-family: "Roboto Condensed", sans-serif !important;
  color: black;
  text-align: center !important;
  color: white;
  margin: 0 auto;
}
.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}
p{
  margin: 5px;
  padding: 5px;
}